<NAV class="navbar navbar-inverse navbar-fixed-top">
<DIV  class="container-fluid">
<DIV class="navbar-header"><BUTTON class="navbar-toggle collapsed"
aria-expanded="false" aria-controls="navbar" type="button" data-toggle="collapse"
data-target="#navbar"><SPAN class="sr-only">Toggle navigation</SPAN>
<SPAN class="icon-bar"></SPAN><SPAN class="icon-bar"></SPAN><SPAN class="icon-bar"></SPAN></BUTTON>
    <A class="navbar-brand" href="http://v3.bootcss.com/examples/dashboard/#">Projectname</A>         </DIV>
<DIV class="navbar-collapse collapse" id="navbar">
<UL class="nav navbar-nav navbar-right">
  <LI><A href="http://v3.bootcss.com/examples/dashboard/#">Dashboard</A></LI>
  <LI><A href="http://v3.bootcss.com/examples/dashboard/#">Settings</A></LI>
  <LI><A href="http://v3.bootcss.com/examples/dashboard/#">Profile</A></LI>
  <LI><A href="http://v3.bootcss.com/examples/dashboard/#">Help</A></LI></UL>
</DIV></DIV>
</NAV>