{#<!DOCTYPE html>#}
{#<html>#}
{#==============================工单数量===================================#}
{#{% for ticket in ticket_list %}#}
{#   {% for k,v in ticket.items %}#}
{#   <br> {{v}} </br>#}
{#   {% endfor %}#}
{#{% endfor %}#}
{##}
{#==============================涉及设备数量===============================#}
{#{% for number in server_sum %}#}
{#    {% for x,y in number.items %}#}
{#        <br> {{y}} </br>#}
{#    {% endfor %}#}
{#{% endfor %}#}
{#</html>#}

{#<form method='post'>#}
{#{% csrf_token %}#}
{#{{ form }}#}
{#<input type="submit" value="提交">#}
{#</form>#}


<LINK href="http://172.16.224.18/static/front/css/bootstrap.min.css" rel="stylesheet">
<html>
<body>
<form method='post' class="form-horizontal">
    <div id="legend" class="">
    <legend class="">表单名</legend>
    </div>
    <div class="control-group">
    {% csrf_token %}
    {{ form }}
    </div>
    <div class="controls">
    <button class="btn btn-success">Button</button>
    </div>

</form>
</body>
</html>